<a href="https://colab.research.google.com/github/diegomoralesgr/MetNumUN2021II/blob/main/dimorales_QuanconnectTutotials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Data Types and Data Structures

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
my_string3 = "'Diego Esteban Morales'"
print(my_string1 + ' ' + my_string2+ ' '+my_string3)

Welcome to QuantConnect 'Diego Esteban Morales'

In [ ]:
my_int = 2**100000
print(my_int)
print(type(my_int))

99900209301438450794403276433003359098042913905418169177152927386314583246425734832748733133244965040316439444555585493001879966076561765629084713542474928751988896298736710932463504273731124792658002785312410887370856052872283901645686910268506759235179146970528576446968015248323454755432502927865208069577709717411022320429763512053307779968979251166198707717857759555217200813202952046179492292592956239209657978735581586675254957973131448062492602618379413050805826860315351341787396228349908863577580621046066363721305877953223449720108084863695414018358513598580356035740218729081555665806071864612689728397946218422675793496388933572475887619591376567624111250207087048704651793963987101092003639347456180906016133778985602968635985580247614489330470522228601313770959583573194858984964045723838751707022423326334368944232973818777331532869442179361253019078689036036632831615027261399341528040711719149239033418749353944558963012921972564177172335435447515523793108922681824024527557520947046421859438628656327442313320847422215514933150027177500642288262118225493496005574573349646784832691809518959557691745096732244177404328404558821091379053756467721399766217852650571698548345624875183223832503186455054721143699341679816781702551228129780651948062954053391546574799412974991903485075443364145056316573960066933824273164340395801212802609842122475142078347122248314103040686037196401618557416564394722534649452497003145098900931622689527444287054764254722531675145211822314553883743082326422006330251375331293651643417252062561553117947386191429047614456549271284181751835313270529754953705614382395732279396730301060774568484774278321953492279838364361637647429695459066723691241363259321233356431358944652191018821238297409079163860232354509593887667364032295779939011521544480036372150691155911119960015305891077294210322304242620356934932160529275696258584458223545946452769231081973058062803265167364493437617324097533423332897302829591735692730132864233117596052304951716770331637095222569524604021433876551976440165281480223483318810975594219604764793885201985410173489859485110054692466172341431353099384059232689535865388869744270086070286355020855620295493524800507965215649196832651067441009678229519541616177175429975200098873073778762106858907709694116104380286239504453237895918707602892603934898261007748876728529181064684891438936490647845912116121933007079005370590421880128565594036990708880329668716116559612323319983109232250828661803218804394475729867620969358197843859279692501233269351946932077243355273655662482237878338880749992768316334403186044636187037897843130328438234704109443065914719283411909751852392123276743849905615636884329390394420026175309768506051329371014490863961416205560535473355699267009413752718291424072342679375650697655674759341013102253428300804090795873295442135513073020501715984242307604692097329072901416063539608805592023573768856478522400927771114891344924169956071717862984365339781808694741067511113535237115404365993108896974856588008878619749343579292462040517672460122506184040119662898726738030704983612179744846791007478463561946648292247361341151355671792917819680560537264841411283478582412591219546011844124093497829633170420025304186616949623187358606524854102222118695442237882891897120805145751413619648053697231645705649984795376571745481285974060773391587753323552156094359192751993510142222469630170137174193375049192953632951011152929518362828191918216516764559465158280489842561167481503678052678786627169996492969493770457948761466281109299820207370133303244510053853785511888034741481986651145793226849009930002367361685552941734420599253719652449979254831593437063439703718096114703230741869850350547222890271748503333683283002811329108416931504573899331839345932929949427960153097561187089189295284490742432847670062431711716227317666067961019678022045645890158995247047410011581109636337313293883568689494087593341769093878063985846473005889281759988444774861300631530687600700848372675277897773568300427789027721056838330214702797285953363321105640642639097245799496861629080196041417539357688765879924285499121517379242703432486484142474568388895418932414509875057594030132496975416969553302968802193048741635010979200362102387682751763699809776149796360967043481401241306835768799049974365962964957054595247353820003637703248949821033313329135623151698544104153170541939282347233988484535521732036880883121009439414349382822035496502815307510870986046812248029738256312449893319652962023726085865090503079933086520012316719151827657420956895131361840954121214737863110428977178614481583169658487669495548262525049612270447147122296202746823629098038774693769873589421254417923552983874798304502539097887334697326030975441564748054737327327672486527590349953363541269539004588549886835749278646152520408004901147858922890854433539969947808674716135197858385714564215831711930041179894407902683463575503398880867251278835772976264992138274365739929273022387925769242327854872012972553860719683037824830637258998084846385038283562584039173118726943814645536516900625300232175913430847552159014752991492152969443623669108332336937679931382092758700242462383312182367152367720984171877038601723085224480431763336027597331612012622483230853292889861545592214273785074109788222447295126635722255671697794097673415430172892683326350774512101678691213344656807397973727114619192999381181788275414217929268837902854309099424412605119458492379099663295502638657011148841422661629698100736527109285045794708615080940545777978643015048999586341647005282205627860088640257094324442540440342431402038120748575379990160664655209869807905893473202430506359073638215212806000418275293254852479279042357275985742095546323638309324282507115188017756337398115237619946862632705506350998512543338755946015409008620142936256737383316930823288543270014874766351188308851737752688195263601653459005561607677134536176554509744249790760639060933000284169648475940270466694684865936364254286252416448366521739225865284742449523633023053114134493323398223365516114314691319001704882268365259163997239126266161402057079967273835295974791254889614192872612597575617015926458235411519221772539196510343447936803690570038130565578663110114763131895715563365187277579919088628907654949520194749221488514170792523523942938017011494852390058443583297487692799415863846408772659017491049332388534654299792539005613115622882411471921581372101202673996486228316104302872687398403351421202995166108461931646880759445269652485700705544521525474934504348529179875121859736471904615154135825821390401721182957023275370273897877935069040449385535876505035571558728732015968850613311454771015756993754410974933741159911991149627268017180389509078030411844000755854685609769656695843256272833274164180445907278446800513607741542884127124563533836254690689364309020682167504598193217445133629138539831545606104596926045087877003041845791534782917257628106327221080358260609045724606192042375803631472001587490753616337852434622987699178878086714539288465724172235048877668038694534745888319075973552928007092414713706966470295307005070830914124927714047761934590073152062336342261281370745041625204734495974156788820038454467743889503791923445941712455102317389950303484219370880833297091081765610107086931580206950600964283520466473333611634766641063112470651738025105994092669089840466632986136488548712306599035657723276676960571870572768143949325593713680293759746041160756415999194022667942306814857233613635929036768414803583280931275068011115716150627615566071582366122685442683302747258492948758520897908509628352355279784914755637443184839934746333003309724970128084159009694551903758499457503794650191660098615027946061307947268985078496103038848460354233921754495058761571303447004158230802257866933005121268318460095102035431743237832921768659760762754124218928081388728801758131092960201507463319795614881463334126748962568837843511784775926605772127342693283823847117460837822099396466123083439521695765810654237719818995738404303159309732150599013712183997625850554354595163400551490805656273304753625289269450202261631309024207950062589313678130052221407429647561940537821824528330970215542109296386930054600119271783027615635057157354056726525241759254363718634718362920121624566620936420746055008424493472898306195060775705287548452776806612183580661302914632889322407010438875350078519971591983900846545969961971383997234958637498065824393846150491840484858191935606671259680185748778195611043352384208734177433851857356631012927574092805868400118048549941494787368829493687866372026826071987076562864367537757095603497183974055655052694252183543013489107852345177955197575164847115459284660037545584854709947374937966158410404142398757633352017955186448566322015985563419342866689125221534463487912181596227445253723142191847387705966599421812754036136604385388292018102048509177177914852560262425298024923092295621770627700276592881584739948042550677309034200434916329135886446274153184685174625801809013144773586374865282212744506618836678735450371395355632603497782099924165591116020974374914323607878793310150524170474378235535062056170175721753870617511929197156603630283023438195849465943284604829319605151248671236046256539035651733228567582109375412226742238470466647336202928248340651378144753677476718822200983896820197842167240154912533604364378474797706336579054181335230108045599585473796858647089377916593402237955370452738494354411059838879697411430510694012710656285075370398233088678198682981714151852182714936131109639840219124483234239013925538117259541532094350029548076402919827657415140429566669531773040033587015037034974248978981089394530269768782315579381589289968687663676035790553227948227576591048128352197457240223475699146502406367304928332861518750491298734579308749994880486812508029046064462235695627679648989148699242019464585213551657098871183782904371743756252826061405346119873953346775009366257467656384596295218722627774734804912339651942813537250686607820766838625654872790380204867780999917543808157898208252555662349839332174914938649662841168898746650054147482645999727520033700845425925443011903990412317527719937677998475512794480129138420343231548881379325248871720993811957221631481016702748773791618309689373487201689449032996589325119965041096536746189148615994816320408919305772386303963118582133413371100963891138365968959147153709250739984616820464264472907889765255935051365469783646031838206195605785175615049726618176490303049821385347386962122346261140430356009670425470123173604497246232874525751511987718015857428293890256508259882754951108654247042183372640230780456816514205178074181960964015134617607943627696122281261186109127668148805009509638890328777108376510519000761280584739692587687379373066647513879422173546940211576755575689701687341043424465255225689743297161527425581105034950457189317524470704103077608303655367141803887236029488728055907527111155907947569269039785196019397903117680703568019449361068506405685192906450486855356282567872257345441465655411878167177298506128740446208907185021085180250529245903598141175227203205526425977519844107424921792420390800146062259994221097171761187468458026737248013656038669099710713472558597232170275540550850820904189875348292220041789984750305195371790620015093330230238818065191824055508186721647117023075299226522280338204041133866253358150429341151439809399864163656339236206738742593427134447012427027222271975732031944894078563555116396191159859079953990836801294688107715959380849081112519380164148662501410952866809148285031239389609976591759773154327971739457625603650235879315599261708523150742478498142565646930081050619763973955917335454729175267395987901174774492177457719081694895437903145781526673896894106045883514450261306456372376876311299645766994757673406735835372187049351773202147794039725665325817316592021997529428244327781021075321605801044321210672082738761007783324265696247656210631269754915462243439780612539993138939157820085600111713197734431304129982156269850988957227781595245056404355349798558722345219917784195641066221220490390178867379979052705523024120027808647262825175250923325553787377924349159261827361512425922427258726998440141325679546404757424511261028573941934797163831871383707227824226193840210108962712816857322877642102987088955571483977434974181098496336339103977782542251794000221434858862075321226466136144875187351424944695758367447850280131930339019497387161631138008640934085292977297414628361422011205730274273095666588498849651342951882879370161474995046851851168517097581466869942436731400369923812324839206186286630374023513339077719074552242485157487261360750480209609765678620252323562730255570543867291892555716723968719916696518347369874402959423952208634813414840298389394855933272566273181941377354518915443849609664512855614767725649325169238220032297334833317263062000591920674411369132437204035780986764408946723673345499039052836824114220118869492653245313993237641005639967442736936065868512439367371553496963589704707062467430646815115255807723671293586915466771792806746031974436602356648119111753242397922716032139326909004314335725119355917857874389319108367222197495943852176828172055374339879393724206984225860020267022045023414844322314181598371332234673381859957202152129990668553185937651881228156443498428978040444742531731871982498802190561247568350531219366840911136134517403804000412814745274536875301227412262925494310084588680826271693128914142374669732156883069625962978242868284797581983823403452227087573453938971269101748351799713209229117464354550239266293854557426308404732459893743078368758640879143123192283073049753624817085798498705503143573686604535040996796853898025784779104192310525051446968852487263443653694539213721947159981566244543305627982827773495846667570189699009851101644910479936029229616451329952242714049081869480808181447654414760708349431799213476932057754937275811467994778198070449098308878024183545280955762681782215964107122165099951969619323687669599243369390186758304779513485649674966430069785481208610130290264826404023166210182586041727345019708385702227651885903931236272452320065359839076041278980076282207912461632227130519066780296442732287634600602892133160940573960035236081494878557848199236040337092439208957851009536662455380471184198340685899489340265181327419517491251925687298248779829383517102243898868347555622182148660755186284205084412408550884084994052265485357766788644446805043012859884699155016926211730495502683654983406379433415847973906669732718175671111234452127011382877331707036488435606925350128577456371660129278461941357564915082693230100635590879918314801796066648936068648755691547008606027039096400905146093605130372809849899764729342059710761043657066703696367310866167730643613331841643321040734792107756887037541932411017644880716733041762680345281279467292444529191618820953359456671584509414763015370325881092549216206024239983839396395708642683155577379235428304771690538507219399272668305672274429137526802371781759084372697807080996901926950025924210204851939538051551586632664182304521293710468402188066651652314385974980816214201480513551318654530148712982499386242721543453723918022151261158548619753989831108881963588755657935933105978959920532404396845908621932320152322576689695094153983937213087472477329444930537575776943626803283160550603532196850012071951916714260633640561790062186716046386842490672475728557640716313978246391886937896352477082321959404004508295938536515176425101293359114783379956585017661757854299668374172478388386458923199200411963909253542260741994121819501962515981370764670850224792016491740567949940249675930031299570997420265957853900106689258647188390260584175823964971095229447298741832739522922475921569436956820374777310495141288184312103174766005073286130456981418767387058355896805688120629016723897076030395497082734184840690372151798622665819295554207556956541399768142350274905946625927709860445887936755621437096487057446653198147728921772909377998349527699951450611572043941286871215387568425680366223213695080419157374690099170480398859472604862586844497623623187240853395002049892959636187394374089188885689036911289878323258926013311552609011319119625365293846439934656664902711085228344701847683915736238952397327811583993551780220761774507559291383814685265773091522905025091452411340068956610737613204845456455436102387730875943084086997827113154255134720589393394530135481352441767541313850127700241562619361696497099441569335416665909357597847759464689539235162297236734036508058861862098881236770988929447696543603246688744297401303650097702916035364265028446180461281373240060349478897077232623649275155450137317972776152722360085965987366938414676850301661035169883909955706593317132195740032510463036041962952763169728939909450912795453616275934868184558301686342806532050287291050269066437261706617784393111547371497590961161444938121067460372514526162716152129350431411241558498475740918784584101773250305532072376619339702544883354350691135777577655845511367146346292231144978095464050790267558541609542605577834064673561893985031603030466875225797083879932987691829868229706673562466479396533654545442683864043226502960288812985572421981872080402072960774961288861667732888386206099779254168221567137036673913333220865208719044730485930174667935781738308324064595850181772674476903765231787401426365021720931026192630465421127080947696823922073837974820570347931965251392213701998775439311786012381989247070476295875015162999128929330690253435754882514549484693283228982029565069033084704825177441311664647747507234778615180553434668580409871322734530818367945643644301552462741581007310693230807349015905170087536541696009989115695984547029266293740493936776852857230397546911810214692672193338465630536738465378249700495062094035066062445844126279023842427852805515992531882627862715319895671653983854289093115771224386181197249856442339075588125748592176871497213418333172897149776949821172273376698783612127884652893494706769951467858359550741215683750329378223523786651032669234498876906197941165749364183479148239839880020676499672892149834864244687377422864385630644252234612106399524181461661113915864080897404139458798490366826954881978087660219599648467711456981593675679047681120470557406023512374990122585673579651070132515622378437549947472368838210606459694800673160323813511925351483222167614424111446953611828387611157959113103624207415108263220483745404041469904796470731134283683001582473507129223311197890131797016517640330366496067495186286568360325563532056173866027493274177995242438998805813226206812979356158212027364555404144287058571318352389517424712390507589193534905702683028128107047506031817092744348065048434221341522015796267763936426981688514855452068978020362574960435841807355230924102647944364239514748558539802593670172055887679853099710432904048844675417019189122757457524021217448903266811606478379850046398641936457920821052660575039211953114575926214008306603017681201785603286502201714138116421559867026375311555548219583889053935445921805872724337498992420415428166668218463748633375227290779942089605452648638625164117180491129034513781400215068999667620807326513804277924609307622634469941591932231425650299964031343835640877666895377598574734031204770918865963555799446436882059812420404778029438039324597222075417395895966920340521616808375889216360485847899296639031073499456670278306104831308628726806610153007455216698938573837826909750260786912450770966973557449710638783790836085633247740114266045887977128433350893417521208431335491558059452175037667281368189897010757950349759311471138511775290847083826469309436638378514887987236887715347703334565702540049640399877607459512761459366946955088777963184000932299737367705185125732332301271342109370686809502643622255108728771416356017162762670401689968162872133264222683778553278878223102045397622725830149026097109311949956859508345985092588033630195518918462129909149201558382986075681907373759585733482617137947035925039721263143161921595714510817440341148479043866012842446

In [ ]:
my_string = "2415f"
print(type(my_string))
my_int = int(my_string,16)
print(type(my_int))
print(my_int)

<class 'str'>
<class 'int'>
147807

In [ ]:
my_string = "300"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

In [ ]:
print("Addition ", 3+5)
print("Subtraction ", 7-2)
print("Multiplication ", 2*5)
print("Division ", 7/3)
print('exponent', 2**6)

Addition  8
Subtraction  5
Multiplication  10
Division  2.3333333333333335
exponent 64

In [ ]:
print(5/7)
print(5.0/7)

0.7142857142857143
0.7142857142857143

In [ ]:
my_list = [1,2,3,'Quant', 'Connect']
print(my_list)

[1, 2, 3, 'Quant', 'Connect']

In [ ]:
my_list = [1,2,3,4,5,'Quant', 'Connect']
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

7
1
Connect

In [ ]:
my_list = [1,2,3,4,5,'Quant', 'Connect']
my_list[3] = 'start'
print(my_list)

[1, 2, 3, 'start', 5, 'Quant', 'Connect']

In [ ]:
my_list = [1,2,3,4,5,'Quant', 'Connect']
print(my_list[1:5])

[2, 3, 4, 5]

In [ ]:
print(my_list[4:])

[5, 'Quant', 'Connect']

In [ ]:
print(my_list[:5])

[1, 2, 3, 4, 5]

In [ ]:
my_list = ['Hello', 'world', 'Hello']
my_list.append('world')
print(my_list)

['Hello', 'world', 'Hello', 'world']

In [ ]:
my_list.remove('world')
print(my_list)

['Hello', 'Hello', 'world']

In [ ]:
my_tuple = ('Welcome','to','hello world')

In [ ]:
my_tuple = ('Welcome','to','hello world')
print(my_tuple[2:])

('hello world',)

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG',"F",'INSTA']
stock_set = set(stock_list)
print(stock_set)

{'GOOG', 'INSTA', 'IBM', 'FB', 'AAPL', 'F'}

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet','HELLO':'WORLD'}

In [ ]:
print(my_dic['HELLO'])

WORLD

In [ ]:
my_dic['HELLO'] = 'Hello World'
print(my_dic['HELLO'])

Hello World

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG', 'HELLO'])

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[3:15])

come to Quan

In [ ]:
print('Counting the number of e appears in this sentence'.count('a'))
print('The first time e appears in this sentence'.find('a'))
print('all the a in this sentence now becomes e'.replace('a','i'))

2
17
ill the i in this sentence now becomes e

In [ ]:
Time = '2021-10-19 10:38:51'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date)
print(date, time)
hour = time.split(':')[0]
minute=time.split(':')[1]
second=time.split(':')[2]
print(hour)
print(minute)
print(second)

2021-10-19
2021-10-19 10:38:51
10
38
51

In [ ]:
my_time = 'Hour:{}, Minute:{}, Second:{}'.format('10','58','40')
print(my_time)

Hour:10, Minute:58, Second:40

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('hello','world'))

the pi number is 3.140000
hello to world

#2. Logical Operations and Loops

In [ ]:
print(3 == 5)
print(True == True)
print('hello' != 'world')
print(2**100000 >= 2**99999)
print(3.1416 >= 10/3)

False
True
True
True
False

In [ ]:
print(10 > 5 and 7 > 5)
print(10 > 5 and 7 < 5) 
print(10 > 5 or 7 < 5)
print(10 < 5 and 7 < 5)

True
False
True
False

In [ ]:
print((10 > 5 or 7 < 5) and (10!=7 and 6>5) and not ( 7 < 5 or 6 < 10 and (10!=5 and 6>3)))
print(10 > 5 or 7 < 5 and (10!=7 and 6>5) and not ( 7 < 5 or 6 < 10 and (10!=5 and 6>3)))

False
True

In [ ]:
i = 100
if i == 100:
    print('i==100 is True')

i==100 is True

In [ ]:
p = 10 > 15
q = 7 > 20
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

None of p and q is true

In [ ]:
i = 0
while i < 2**13:
    print(i)
    i += 100

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100

In [ ]:
for i in [1,'hello',3,'Quan',5]:
    print(i)

1
hello
3
Quan
5

In [ ]:
stocks = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG',"F",'INSTA']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)
print(new_list)

['AAPL', 'GOOG', 'IBM', 'AAPL', 'IBM', 'FB', 'F', 'GOOG', 'F', 'INSTA']
['GOOG', 'FB', 'F', 'GOOG', 'F', 'INSTA']

In [ ]:
stocks = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG',"F",'INSTA']
for i in stocks:
    print(i)
    if i == 'IBM':
        break

AAPL
GOOG
IBM

In [ ]:
stocks = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG',"F",'INSTA']
for i in stocks:
    if i == 'IBM':
        continue
    print(i)

AAPL
GOOG
AAPL
FB
F
GOOG
F
INSTA

In [ ]:
squares = []
for i in [2,4,8,16,2**100]:
    squares.append(i**2)
print(squares)

[4, 16, 64, 256, 1606938044258990275541962092341162602522202993782792835301376]

In [ ]:
list = [2,4,8,16,2**100]
squares = [x**2 for x in list]
print(squares)

[4, 16, 64, 256, 1606938044258990275541962092341162602522202993782792835301376]

In [ ]:
stocks = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG',"F",'INSTA']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM', 'AAPL', 'IBM']

In [ ]:
print([(x, y) for x in [1,4,5,6] for y in [5,1,4,2,6,'Connect'] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['INS','TI','CA',7] if x!=y])

[(1, 5), (1, 4), (1, 2), (1, 6), (1, 'Connect'), (4, 5), (4, 1), (4, 2), (4, 6), (4, 'Connect'), (5, 1), (5, 4), (5, 2), (5, 6), (5, 'Connect'), (6, 5), (6, 1), (6, 4), (6, 2), (6, 'Connect')]
['AAPL vs INS', 'AAPL vs TI', 'AAPL vs CA', 'AAPL vs 7', 'GOOG vs INS', 'GOOG vs TI', 'GOOG vs CA', 'GOOG vs 7', 'IBM vs INS', 'IBM vs TI', 'IBM vs CA', 'IBM vs 7', 'FB vs INS', 'FB vs TI', 'FB vs CA', 'FB vs 7']

#3. Functions and Objective-Oriented Programming

In [ ]:
def product(x,y):
    return x*y
print(product(100,3))
print(product(15,10))

300
150

In [ ]:
def say_hi():
    print('Hello world to MN')
say_hi()

Hello world to MN

In [ ]:
print(range(20))
print(range(10,11))
print(range(5,7,6))

range(0, 20)
range(10, 11)
range(5, 7, 6)

In [ ]:
tickers = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG',"F",'INST']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 10
AAPL
GOOG
IBM
AAPL
IBM
FB
F
GOOG
F
INST

In [ ]:
print(list)
del list
list

[2, 4, 8, 16, 1267650600228229401496703205376]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG',"F",'INST']
list(map(len,tickers))

[4, 4, 3, 4, 3, 2, 1, 4, 1, 4]

In [ ]:
tickers = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG',"F",'INST']
print(list(map(len,tickers)))

[4, 4, 3, 4, 3, 2, 1, 4, 1, 4]

In [ ]:
list(map(lambda x: x**2, range(13)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [ ]:
list(map(lambda x, y: x+y, [2,4,8,16,32],[32,8,16,4,2]))

[34, 12, 24, 20, 34]

In [ ]:
sorted(['z','e',"g",'q','m'])

['e', 'g', 'm', 'q', 'z']

In [ ]:
price_list = [('AAPL',3.09),('GOOG',911.71),('MSFT',670),('FB',2),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('FB', 2), ('AAPL', 3.09), ('WMT', 75.32), ('MSFT', 670), ('GOOG', 911.71)]

In [ ]:
rice_list = [('AAPL',3.09),('GOOG',911.71),('MSFT',670),('FB',2),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('MSFT', 670), ('WMT', 75.32), ('AAPL', 3.09), ('FB', 2)]

In [ ]:
price_list = [('AAPL',3.09),('GOOG',911.71),('MSFT',670),('FB',2),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('FB', 2), ('AAPL', 3.09), ('WMT', 75.32), ('MSFT', 670), ('GOOG', 911.71)]

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
google.ceo = 'Sundar Pichai'
google.ceo

'Sundar Pichai'

In [ ]:
dir(google)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(46,69)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
46
69
0.5
None

#4. NumPy and Basic Pandas

In [ ]:
import numpy as np

In [ ]:
price_list = [154.5, 13.8, 16.5, 44.2, 43.5, 42.2]
price_array = np.array(price_list)
print(price_array, type(price_array))

[154.5  13.8  16.5  44.2  43.5  42.2] <class 'numpy.ndarray'>

In [ ]:
Ar = np.array([[4,2],[13,5]])
print(Ar, type(Ar))

[[ 4  2]
 [13  5]] <class 'numpy.ndarray'>

In [ ]:
print(Ar.shape)

(2, 2)

In [ ]:
print(Ar[0])
print(Ar[1])

[4 2]
[13  5]

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [ 4 13]
the second column:  [2 5]

In [ ]:
print(np.log(price_array))

[5.0401941  2.62466859 2.80336038 3.78872479 3.77276094 3.74242022]

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

52.449999999999996
47.35267503883317
314.7
154.5

In [ ]:
import pandas as pd

In [ ]:
price = [154.5, 13.8, 16.5, 44.2, 43.5, 42.2]
s = pd.Series(price)
s

0    154.5
1     13.8
2     16.5
3     44.2
4     43.5
5     42.2
dtype: float64

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    154.5
b     13.8
c     16.5
d     44.2
e     43.5
f     42.2
dtype: float64

In [ ]:
s.index = [1,13,6,8,25,2]
s

1     154.5
13     13.8
6      16.5
8      44.2
25     43.5
2      42.2
dtype: float64

In [ ]:
print(s[3:])
print(s[:-5])

8     44.2
25    43.5
2     42.2
dtype: float64
1    154.5
dtype: float64

In [ ]:
print(s[25])
s[25] = 0
print(s)

43.5
1     154.5
13     13.8
6      16.5
8      44.2
25      0.0
2      42.2
dtype: float64

In [ ]:
s = pd.Series(price, name = 'Analitic List')
print(s)
print(s.name)

0    154.5
1     13.8
2     16.5
3     44.2
4     43.5
5     42.2
Name: Analitic List, dtype: float64
Analitic List

In [ ]:
print(s.describe())

count      6.000000
mean      52.450000
std       51.872257
min       13.800000
25%       22.925000
50%       42.850000
75%       44.025000
max      154.500000
Name: Analitic List, dtype: float64

In [ ]:
time_index = pd.date_range('2021-10-19',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22',
               '2021-10-23', '2021-10-24'],
              dtype='datetime64[ns]', freq='D')
2021-10-19    154.5
2021-10-20     13.8
2021-10-21     16.5
2021-10-22     44.2
2021-10-23     43.5
2021-10-24     42.2
Freq: D, Name: Analitic List, dtype: float64

In [ ]:
s.index = [1,13,6,8,25,2]
print(s)
print(s[13])

1     154.5
13     13.8
6      16.5
8      44.2
25     43.5
2      42.2
Name: Analitic List, dtype: float64
13.8

In [ ]:
print(s.iloc[1])

13.8

In [ ]:
s.index = time_index
print(s['2021-10-22'])

44.2

In [ ]:
print(s['2021-10-20':'2021-10-23'])

2021-10-20    13.8
2021-10-21    16.5
2021-10-22    44.2
2021-10-23    43.5
Freq: D, Name: Analitic List, dtype: float64

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 2.64*np.std(s))])

2021-10-20    13.8
2021-10-21    16.5
2021-10-22    44.2
2021-10-23    43.5
2021-10-24    42.2
Freq: D, Name: Analitic List, dtype: float64
[2021-10-19     True
2021-10-20    False
2021-10-21    False
2021-10-22    False
2021-10-23    False
2021-10-24    False
Freq: D, Name: Analitic List, dtype: bool]

#5. Pandas-Resampling and DataFrame

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)

In [ ]:
import yfinance as yf

goog = yf.Ticker("GOOG")

# get stock info
print(goog.info)

# get historical market data
goog_table = goog.history(start="2016-01-01",  end="2017-12-31")
goog_table

{'zip': '94043', 'sector': 'Communication Services', 'fullTimeEmployees': 144056, 'longBusinessSummary': 'Alphabet Inc. provides online advertising services in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. The company offers performance and brand advertising services. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, such as ads, Android, Chrome, hardware, Google Maps, Google Play, Search, and YouTube, as well as technical infrastructure; and digital content. The Google Cloud segment offers infrastructure and data analytics platforms, collaboration tools, and other services for enterprise customers. The Other Bets segment sells internet and TV services, as well as licensing and research and development services. The company was founded in 1998 and is headquartered in Mountain View, California.', 'city': 'Mountain View', 'phone': '650-253-0000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.abc.xyz', 'maxAge': 1, 'address1': '1600 Amphitheatre Parkway', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.34300998, 'profitMargins': 0.2857, 'grossMargins': 0.55723, 'operatingCashflow': 80858996736, 'revenueGrowth': 0.616, 'operatingMargins': 0.28448, 'ebitda': 75552997376, 'targetLowPrice': 2700, 'recommendationKey': 'buy', 'grossProfits': 97795000000, 'freeCashflow': 44609626112, 'targetMedianPrice': 3100, 'currentPrice': 2877.36, 'earningsGrowth': 1.691, 'currentRatio': 3.152, 'returnOnAssets': 0.12759, 'numberOfAnalystOpinions': 9, 'targetMeanPrice': 3106.11, 'debtToEquity': 11.829, 'returnOnEquity': 0.2829, 'targetHighPrice': 3425, 'totalCash': 135863001088, 'totalDebt': 28100999168, 'totalRevenue': 220265005056, 'totalCashPerShare': 203.768, 'financialCurrency': 'USD', 'revenuePerShare': 326.656, 'quickRatio': 3.027, 'recommendationMean': 1.6, 'exchange': 'NMS', 'shortName': 'Alphabet Inc.', 'longName': 'Alphabet Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'GOOG', 'messageBoardId': 'finmb_29096', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 8.166, 'beta3Year': None, 'enterpriseToEbitda': 23.806, '52WeekChange': 0.8376212, 'morningStarRiskRating': None, 'forwardEps': 105.9, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 320168000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 355.83, 'sharesShort': 1772283, 'sharesPercentSharesOut': 0.0027, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.67123, 'netIncomeToCommon': 62928998400, 'trailingEps': 92.187, 'lastDividendValue': None, 'SandP52WeekChange': 0.30302167, 'priceToBook': 8.086334, 'heldPercentInsiders': 0.00043000001, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.48, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 580796862, 'beta': 1.025925, 'enterpriseValue': 1798630277120, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1430092800, 'lastSplitFactor': '10027455:10000000', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 1.662, 'priceToSalesTrailing12Months': 8.704149, 'dateShortInterest': 1632960000, 'pegRatio': 1.36, 'ytdReturn': None, 'forwardPE': 27.170538, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 2439826, 'impliedSharesOutstanding': 666755008, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 2859.21, 'regularMarketOpen': 2865.83, 'twoHundredDayAverage': 2592.4314, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 2882.14, 'navPrice': None, 'averageDailyVolume10Day': 956166, 'regularMarketPreviousClose': 2859.21, 'fiftyDayAverage': 2818.834, 'trailingAnnualDividendRate': None, 'open': 2865.83, 'toCurrency': None, 'averageVolume10days': 956166, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 2861.92, 'currency': 'USD', 'trailingPE': 31.212212, 'regularMarketVolume': 464113, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1917219504128, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 1073723, 'dayLow': 2861.92, 'ask': 2878.8, 'askSize': 1000, 'volume': 464113, 'fiftyTwoWeekHigh': 2936.41, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 1514.62, 'bid': 2878, 'tradeable': False, 'dividendYield': None, 'bidSize': 900, 'dayHigh': 2882.14, 'regularMarketPrice': 2877.36, 'logo_url': 'https://logo.clearbit.com/abc.xyz'}

                   Open         High  ...  Dividends  Stock Splits
Date                                  ...
2016-01-04   743.000000   744.059998  ...          0             0
2016-01-05   746.450012   752.000000  ...          0             0
2016-01-06   730.000000   747.179993  ...          0             0
2016-01-07   730.309998   738.500000  ...          0             0
2016-01-08   731.450012   733.229980  ...          0             0
...                 ...          ...  ...        ...           ...
2017-12-22  1061.109985  1064.199951  ...          0             0
2017-12-26  1058.069946  1060.119995  ...          0             0
2017-12-27  1057.390015  1058.369995  ...          0             0
2017-12-28  1051.599976  1054.750000  ...          0             0
2017-12-29  1046.719971  1049.699951  ...          0             0

[503 rows x 7 columns]

In [ ]:
goog = goog_table['Close']['2017']

In [ ]:
print(goog)

Date
2017-01-03     786.140015
2017-01-04     786.900024
2017-01-05     794.020020
2017-01-06     806.150024
2017-01-09     806.650024
                 ...
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, Length: 251, dtype: float64

In [ ]:
print(goog['2017-3'])

Date
2017-03-01    835.239990
2017-03-02    830.630005
2017-03-03    829.080017
2017-03-06    827.780029
2017-03-07    831.909973
2017-03-08    835.369995
2017-03-09    838.679993
2017-03-10    843.250000
2017-03-13    845.539978
2017-03-14    845.619995
2017-03-15    847.200012
2017-03-16    848.780029
2017-03-17    852.119995
2017-03-20    848.400024
2017-03-21    830.460022
2017-03-22    829.590027
2017-03-23    817.580017
2017-03-24    814.429993
2017-03-27    819.510010
2017-03-28    820.919983
2017-03-29    831.409973
2017-03-30    831.500000
2017-03-31    829.559998
Name: Close, dtype: float64

In [ ]:
goog['2017-2':'2017-4']

Date
2017-02-01    795.695007
2017-02-02    798.530029
2017-02-03    801.489990
2017-02-06    801.340027
2017-02-07    806.969971
                 ...
2017-04-24    862.760010
2017-04-25    872.299988
2017-04-26    871.729980
2017-04-27    874.250000
2017-04-28    905.960022
Name: Close, Length: 61, dtype: float64

In [ ]:
print(goog.head(8))
print(goog.tail(15))

Date
2017-01-03    786.140015
2017-01-04    786.900024
2017-01-05    794.020020
2017-01-06    806.150024
2017-01-09    806.650024
2017-01-10    804.789978
2017-01-11    807.909973
2017-01-12    806.359985
Name: Close, dtype: float64
Date
2017-12-08    1037.050049
2017-12-11    1041.099976
2017-12-12    1040.479980
2017-12-13    1040.609985
2017-12-14    1049.150024
2017-12-15    1064.189941
2017-12-18    1077.140015
2017-12-19    1070.680054
2017-12-20    1064.949951
2017-12-21    1063.630005
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, dtype: float64

In [ ]:
by_month = goog.resample('M').mean()
print(by_month)

Date
2017-01-31     807.904752
2017-02-28     816.916581
2017-03-31     834.111307
2017-04-30     844.056840
2017-05-31     939.284085
2017-06-30     953.766824
2017-07-31     942.865009
2017-08-31     922.023045
2017-09-30     931.299503
2017-10-31     982.522275
2017-11-30    1030.492844
2017-12-31    1043.653003
Freq: M, Name: Close, dtype: float64

In [ ]:
by_week = goog.resample('W').mean()
print(by_week.head())

Date
2017-01-08    793.302521
2017-01-15    806.717993
2017-01-22    804.468750
2017-01-29    826.862000
2017-02-05    798.965002
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
goog.resample('M').max()

Date
2017-01-31     835.669983
2017-02-28     831.659973
2017-03-31     852.119995
2017-04-30     905.960022
2017-05-31     975.880005
2017-06-30     983.679993
2017-07-31     980.340027
2017-08-31     939.330017
2017-09-30     959.109985
2017-10-31    1019.270020
2017-11-30    1054.209961
2017-12-31    1077.140015
Freq: M, Name: Close, dtype: float64

In [ ]:
three_day = goog.resample('5D').mean()
two_week = goog.resample('3W').mean()
two_month = goog.resample('7M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03     793.302521
2017-01-08     806.427490
2017-01-13     806.244995
2017-01-18     804.421672
2017-01-23     826.862000
                 ...
2017-12-09    1040.729980
2017-12-14    1063.493327
2017-12-19    1064.845001
2017-12-24    1051.416667
2017-12-29    1046.400024
Freq: 5D, Name: Close, Length: 73, dtype: float64
Date
2017-01-08     793.302521
2017-01-29     813.269640
2017-02-19     809.709664
2017-03-12     831.915719
2017-04-02     834.174670
2017-04-23     832.148568
2017-05-14     910.660661
2017-06-04     952.420711
2017-06-25     959.580676
2017-07-16     927.726432
2017-08-06     948.571346
2017-08-27     919.313330
2017-09-17     928.692147
2017-10-08     942.659334
2017-10-29     984.676668
2017-11-19    1026.664657
2017-12-10    1026.749285
2017-12-31    1055.192854
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2017-01-31    807.904752
2017-08-31    894.959495
2018-03-31    997.046866
Freq: 7M, Name: Close, dtype: float64

In [ ]:
std = goog.resample('W').std()
max = goog.resample('W').max()
min = goog.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08     9.271221
2017-01-15     1.286577
2017-01-22     1.648152
2017-01-29     6.785008
2017-02-05     2.882899
2017-02-12     4.476093
2017-02-19     3.888738
2017-02-26     1.356907
2017-03-05     4.301519
2017-03-12     5.971306
2017-03-19     2.730815
2017-03-26    13.392346
2017-04-02     5.882941
2017-04-09     5.451000
2017-04-16     0.645758
2017-04-23     2.849201
2017-04-30    16.568690
2017-05-07     8.065152
2017-05-14     2.058548
2017-05-21     8.719065
2017-05-28    12.907173
2017-06-04     5.743123
2017-06-11    14.294068
2017-06-18     5.898889
2017-06-25     5.367715
2017-07-02    17.409210
2017-07-09     8.380824
2017-07-16    11.601406
2017-07-23     7.663487
2017-07-30    17.654578
2017-08-06     3.028084
2017-08-13     9.169523
2017-08-20     7.423927
2017-08-27     8.115862
2017-09-03    10.771394
2017-09-10     4.259703
2017-09-17     5.815036
2017-09-24     7.375925
2017-10-01    16.330452
2017-10-08    11.710768
2017-10-15     7.918404
2017-10-22     3.558963
2017-10-29    21.572126
2017-11-05     6.649262
2017-11-12     5.387203
2017-11-19     5.228673
2017-11-26     9.678139
2017-12-03    18.848620
2017-12-10    16.344819
2017-12-17    10.225138
2017-12-24     6.685706
2017-12-31     4.551121
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     806.150024
2017-01-15     807.909973
2017-01-22     806.070007
2017-01-29     835.669983
2017-02-05     802.320007
2017-02-12     813.669983
2017-02-19     828.070007
2017-02-26     831.659973
2017-03-05     835.239990
2017-03-12     843.250000
2017-03-19     852.119995
2017-03-26     848.400024
2017-04-02     831.500000
2017-04-09     838.549988
2017-04-16     824.729980
2017-04-23     843.190002
2017-04-30     905.960022
2017-05-07     931.659973
2017-05-14     934.299988
2017-05-21     943.000000
2017-05-28     971.469971
2017-06-04     975.880005
2017-06-11     983.679993
2017-06-18     953.400024
2017-06-25     965.590027
2017-07-02     952.270020
2017-07-09     918.590027
2017-07-16     955.989990
2017-07-23     972.919983
2017-07-30     980.340027
2017-08-06     930.830017
2017-08-13     929.359985
2017-08-20     926.960022
2017-08-27     927.000000
2017-09-03     939.330017
2017-09-10     935.950012
2017-09-17     935.090027
2017-09-24     932.450012
2017-10-01     959.109985
2017-10-08     978.890015
2017-10-15     989.679993
2017-10-22     992.809998
2017-10-29    1019.270020
2017-11-05    1032.479980
2017-11-12    1039.849976
2017-11-19    1032.500000
2017-11-26    1040.609985
2017-12-03    1054.209961
2017-12-10    1037.050049
2017-12-17    1064.189941
2017-12-24    1077.140015
2017-12-31    1056.739990
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     786.140015
2017-01-15     804.789978
2017-01-22     802.174988
2017-01-29     819.309998
2017-02-05     795.695007
2017-02-12     801.340027
2017-02-19     818.979980
2017-02-26     828.640015
2017-03-05     823.210022
2017-03-12     827.780029
2017-03-19     845.539978
2017-03-26     814.429993
2017-04-02     819.510010
2017-04-09     824.669983
2017-04-16     823.349976
2017-04-23     836.820007
2017-04-30     862.760010
2017-05-07     912.570007
2017-05-14     928.780029
2017-05-21     919.619995
2017-05-28     941.859985
2017-06-04     964.859985
2017-06-11     949.830017
2017-06-18     939.780029
2017-06-25     950.630005
2017-07-02     908.729980
2017-07-09     898.700012
2017-07-16     928.799988
2017-07-23     953.419983
2017-07-30     934.090027
2017-08-06     923.650024
2017-08-13     907.239990
2017-08-20     910.669983
2017-08-27     906.659973
2017-09-03     913.809998
2017-09-10     926.500000
2017-09-17     920.289978
2017-09-24     915.000000
2017-10-01     920.969971
2017-10-08     951.679993
2017-10-15     972.599976
2017-10-22     984.450012
2017-10-29     968.450012
2017-11-05    1016.640015
2017-11-12    1025.900024
2017-11-19    1019.090027
2017-11-26    1018.380005
2017-12-03    1010.169983
2017-12-10     998.679993
2017-12-17    1040.479980
2017-12-24    1060.119995
2017-12-31    1046.400024
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
last_day = goog.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31     796.789978
2017-02-28     823.210022
2017-03-31     829.559998
2017-04-30     905.960022
2017-05-31     964.859985
2017-06-30     908.729980
2017-07-31     930.500000
2017-08-31     939.330017
2017-09-30     959.109985
2017-10-31    1016.640015
2017-11-30    1021.409973
2017-12-31    1046.400024
Freq: M, Name: Close, dtype: float64

In [ ]:
monthly_return = goog.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.013547
2017-02-28    0.034580
2017-03-31   -0.006800
2017-04-30    0.080389
2017-05-31    0.057300
2017-06-30   -0.060210
2017-07-31    0.035384
2017-08-31    0.009132
2017-09-30    0.023225
2017-10-31    0.066476
2017-11-30   -0.003988
2017-12-31    0.035865
Freq: M, Name: Close, dtype: float64

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.023741652267563317
0.03769325954470389
0.08038880825352845

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31          NaN
2017-02-28    26.420044
2017-03-31     6.349976
2017-04-30    76.400024
2017-05-31    58.899963
2017-06-30   -56.130005
2017-07-31    21.770020
2017-08-31     8.830017
2017-09-30    19.779968
2017-10-31    57.530029
2017-11-30     4.769958
2017-12-31    24.990051
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.033158
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.033158
2017-03-31    0.007714
2017-04-30    0.092097
2017-05-31    0.065014
2017-06-30   -0.058174
2017-07-31    0.023957
2017-08-31    0.009490
2017-09-30    0.021058
2017-10-31    0.059983
2017-11-30    0.004692
2017-12-31    0.024466
Freq: M, Name: Close, dtype: float64

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [ ]:
df = goog_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    1060.119995
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
Name: Close, dtype: float64
Date
2017-12-22     755100
2017-12-26     760600
2017-12-27    1271900
2017-12-28     837100
2017-12-29     887500
Name: Volume, dtype: int64

In [ ]:
goog_2016 = df['2016']
goog_month = goog_2016.resample('M').agg(lambda x: x[-1])
print(goog_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2016-01-31  731.530029  744.989990  ...          0             0
2016-02-29  700.320007  710.890015  ...          0             0
2016-03-31  749.250000  750.849976  ...          0             0
2016-04-30  690.700012  697.619995  ...          0             0
2016-05-31  731.739990  739.729980  ...          0             0
2016-06-30  685.469971  692.320007  ...          0             0
2016-07-31  772.710022  778.549988  ...          0             0
2016-08-31  767.010010  769.090027  ...          0             0
2016-09-30  776.330017  780.940002  ...          0             0
2016-10-31  795.469971  796.859985  ...          0             0
2016-11-30  770.070007  772.989990  ...          0             0
2016-12-31  782.750000  782.780029  ...          0             0

[12 rows x 7 columns]

In [ ]:
goog_bar = goog_month[['Open', 'High', 'Low', 'Close']]
print(goog_bar)

                  Open        High         Low       Close
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012
2016-02-29  700.320007  710.890015  697.679993  697.770020
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-04-30  690.700012  697.619995  689.000000  693.010010
2016-05-31  731.739990  739.729980  731.260010  735.719971
2016-06-30  685.469971  692.320007  683.650024  692.099976
2016-07-31  772.710022  778.549988  766.770020  768.789978
2016-08-31  767.010010  769.090027  765.380005  767.049988
2016-09-30  776.330017  780.940002  774.090027  777.289978
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007

In [ ]:
print(goog_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                  Open        High         Low       Close
Date
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-04-30  690.700012  697.619995  689.000000  693.010010
2016-05-31  731.739990  739.729980  731.260010  735.719971
2016-06-30  685.469971  692.320007  683.650024  692.099976

In [ ]:
import numpy as np

above = goog_bar[goog_bar.Close > np.mean(goog_bar.Close)]
print(above)

                  Open        High         Low       Close
Date
2016-03-31  749.250000  750.849976  740.940002  744.950012
2016-07-31  772.710022  778.549988  766.770020  768.789978
2016-08-31  767.010010  769.090027  765.380005  767.049988
2016-09-30  776.330017  780.940002  774.090027  777.289978
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007

In [ ]:
goog_bar['rate_return'] = goog_bar.Close.pct_change()
print(goog_bar)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
missing = goog_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [ ]:
drop = goog_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = goog_bar.fillna(0)
print(fill)

                  Open        High         Low       Close  rate_return
Date
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012     0.000000
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [ ]:
log_price = np.log(goog_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([goog_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    6.610629
2016-02-29    6.547890
2016-03-31    6.613317
2016-04-30    6.541044
2016-05-31    6.600850
2016-06-30    6.539730
2016-07-31    6.644818
2016-08-31    6.642552
2016-09-30    6.655813
2016-10-31    6.665098
2016-11-30    6.630736
2016-12-31    6.648751
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2016-01-31  731.530029  744.989990  ...          NaN   6.610629
2016-02-29  700.320007  710.890015  ...    -0.060812   6.547890
2016-03-31  749.250000  750.849976  ...     0.067615   6.613317
2016-04-30  690.700012  697.619995  ...    -0.069723   6.541044
2016-05-31  731.739990  739.729980  ...     0.061630   6.600850
2016-06-30  685.469971  692.320007  ...    -0.059289   6.539730
2016-07-31  772.710022  778.549988  ...     0.110808   6.644818
2016-08-31  767.010010  769.090027  ...    -0.002263   6.642552
2016-09-30  776.330017  780.940002  ...     0.013350   6.655813
2016-10-31  795.469971  796.859985  ...     0.009327   6.665098
2016-11-30  770.070007  772.989990  ...    -0.033778   6.630736
2016-12-31  782.750000  782.780029  ...     0.018178   6.648751

[12 rows x 6 columns]

In [ ]:
df_volume = goog_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = goog_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

             Volume  Stock Splits
Date
2016-10-31  2427300             0
2016-11-30  2392900             0
2016-12-31  1770000             0
2017-01-31  2160600             0
2017-02-28  2260800             0
2017-03-31  1401900             0
2017-04-30  3276300             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007
2017-01-31  796.859985  801.250000  790.520020  796.789978
2017-02-28  825.609985  828.539978  820.200012  823.210022
2017-03-31  828.969971  831.640015  827.390015  829.559998
2017-04-30  910.659973  916.849976  905.770020  905.960022

In [ ]:
concat = pd.concat([goog_bar, df_volume], axis = 1)
print(concat)

                  Open        High  ...     Volume  Stock Splits
Date                                ...
2016-01-31  731.530029  744.989990  ...        NaN           NaN
2016-02-29  700.320007  710.890015  ...        NaN           NaN
2016-03-31  749.250000  750.849976  ...        NaN           NaN
2016-04-30  690.700012  697.619995  ...        NaN           NaN
2016-05-31  731.739990  739.729980  ...        NaN           NaN
2016-06-30  685.469971  692.320007  ...        NaN           NaN
2016-07-31  772.710022  778.549988  ...        NaN           NaN
2016-08-31  767.010010  769.090027  ...        NaN           NaN
2016-09-30  776.330017  780.940002  ...        NaN           NaN
2016-10-31  795.469971  796.859985  ...  2427300.0           0.0
2016-11-30  770.070007  772.989990  ...  2392900.0           0.0
2016-12-31  782.750000  782.780029  ...  1770000.0           0.0
2017-01-31         NaN         NaN  ...  2160600.0           0.0
2017-02-28         NaN         NaN  ...  2260800.0           0.0
2017-03-31         NaN         NaN  ...  1401900.0           0.0
2017-04-30         NaN         NaN  ...  3276300.0           0.0

[16 rows x 7 columns]

In [ ]:
concat = pd.concat([goog_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                  Open        High  ...   Volume  Stock Splits
Date                                ...
2016-10-31  795.469971  796.859985  ...  2427300             0
2016-11-30  770.070007  772.989990  ...  2392900             0
2016-12-31  782.750000  782.780029  ...  1770000             0

[3 rows x 7 columns]

In [ ]:
append = goog_bar.append(df_2017)
print(append)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178
2016-10-31  795.469971  796.859985  784.000000  784.539978          NaN
2016-11-30  770.070007  772.989990  754.830017  758.039978          NaN
2016-12-31  782.750000  782.780029  770.409973  771.820007          NaN
2017-01-31  796.859985  801.250000  790.520020  796.789978          NaN
2017-02-28  825.609985  828.539978  820.200012  823.210022          NaN
2017-03-31  828.969971  831.640015  827.390015  829.559998          NaN
2017-04-30  910.659973  916.849976  905.770020  905.960022          NaN

In [ ]:
concat = pd.concat([goog_bar, df_2017], axis = 0)
print(concat)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  731.530029  744.989990  726.799988  742.950012          NaN
2016-02-29  700.320007  710.890015  697.679993  697.770020    -0.060812
2016-03-31  749.250000  750.849976  740.940002  744.950012     0.067615
2016-04-30  690.700012  697.619995  689.000000  693.010010    -0.069723
2016-05-31  731.739990  739.729980  731.260010  735.719971     0.061630
2016-06-30  685.469971  692.320007  683.650024  692.099976    -0.059289
2016-07-31  772.710022  778.549988  766.770020  768.789978     0.110808
2016-08-31  767.010010  769.090027  765.380005  767.049988    -0.002263
2016-09-30  776.330017  780.940002  774.090027  777.289978     0.013350
2016-10-31  795.469971  796.859985  784.000000  784.539978     0.009327
2016-11-30  770.070007  772.989990  754.830017  758.039978    -0.033778
2016-12-31  782.750000  782.780029  770.409973  771.820007     0.018178
2016-10-31  795.469971  796.859985  784.000000  784.539978          NaN
2016-11-30  770.070007  772.989990  754.830017  758.039978          NaN
2016-12-31  782.750000  782.780029  770.409973  771.820007          NaN
2017-01-31  796.859985  801.250000  790.520020  796.789978          NaN
2017-02-28  825.609985  828.539978  820.200012  823.210022          NaN
2017-03-31  828.969971  831.640015  827.390015  829.559998          NaN
2017-04-30  910.659973  916.849976  905.770020  905.960022          NaN

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([goog_bar, df_2017], axis = 0)
print(concat)

                  Open        High  ...  rate_return      Change
Date                                ...
2016-01-31  731.530029  744.989990  ...          NaN         NaN
2016-02-29  700.320007  710.890015  ...    -0.060812         NaN
2016-03-31  749.250000  750.849976  ...     0.067615         NaN
2016-04-30  690.700012  697.619995  ...    -0.069723         NaN
2016-05-31  731.739990  739.729980  ...     0.061630         NaN
2016-06-30  685.469971  692.320007  ...    -0.059289         NaN
2016-07-31  772.710022  778.549988  ...     0.110808         NaN
2016-08-31  767.010010  769.090027  ...    -0.002263         NaN
2016-09-30  776.330017  780.940002  ...     0.013350         NaN
2016-10-31  795.469971  796.859985  ...     0.009327         NaN
2016-11-30  770.070007  772.989990  ...    -0.033778         NaN
2016-12-31  782.750000  782.780029  ...     0.018178         NaN
2016-10-31         NaN  796.859985  ...          NaN  795.469971
2016-11-30         NaN  772.989990  ...          NaN  770.070007
2016-12-31         NaN  782.780029  ...          NaN  782.750000
2017-01-31         NaN  801.250000  ...          NaN  796.859985
2017-02-28         NaN  828.539978  ...          NaN  825.609985
2017-03-31         NaN  831.640015  ...          NaN  828.969971
2017-04-30         NaN  916.849976  ...          NaN  910.659973

[19 rows x 6 columns]